/**
 * Berkeley Mono Variable font and fallback
 */
@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono Variable';
  font-weight: 100 900;
  font-stretch: 60% 100%;
  font-style: oblique -16deg 0deg;
  src:
    url('https://cdn.hugentobler.xyz/bm-variable.woff2') format('woff2-variations'),
    url('https://cdn.hugentobler.xyz/bm-variable.otf') format('opentype-variations');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: normal;
  font-weight: 100;
  src:
    url('https://cdn.hugentobler.xyz/bm-thin.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-thin.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: italic;
  font-weight: 100;
  src:
    url('https://cdn.hugentobler.xyz/bm-thin-oblique.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-thin-oblique.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: normal;
  font-weight: 200;
  src:
    url('https://cdn.hugentobler.xyz/bm-extralight.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-extralight.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: italic;
  font-weight: 200;
  src:
    url('https://cdn.hugentobler.xyz/bm-extralight-oblique.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-extralight-oblique.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: normal;
  font-weight: 300;
  src:
    url('https://cdn.hugentobler.xyz/bm-light.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-light.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: italic;
  font-weight: 300;
  src:
    url('https://cdn.hugentobler.xyz/bm-light-oblique.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-light-oblique.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: normal;
  font-weight: 400;
  src:
    url('https://cdn.hugentobler.xyz/bm-regular.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-regular.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: italic;
  font-weight: 400;
  src:
    url('https://cdn.hugentobler.xyz/bm-regular-oblique.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-regular-oblique.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: normal;
  font-weight: 500;
  src:
    url('https://cdn.hugentobler.xyz/bm-medium.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-medium.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: italic;
  font-weight: 500;
  src:
    url('https://cdn.hugentobler.xyz/bm-medium-oblique.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-medium-oblique.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: normal;
  font-weight: 600;
  src:
    url('https://cdn.hugentobler.xyz/bm-semibold.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-semibold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: italic;
  font-weight: 600;
  src:
    url('https://cdn.hugentobler.xyz/bm-semibold-oblique.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-semibold-oblique.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: normal;
  font-weight: 700;
  src:
    url('https://cdn.hugentobler.xyz/bm-bold.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-bold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: italic;
  font-weight: 700;
  src:
    url('https://cdn.hugentobler.xyz/bm-bold-oblique.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-bold-oblique.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: normal;
  font-weight: 800;
  src:
    url('https://cdn.hugentobler.xyz/bm-extrabold.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-extrabold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: italic;
  font-weight: 800;
  src:
    url('https://cdn.hugentobler.xyz/bm-extrabold-oblique.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-extrabold-oblique.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: normal;
  font-weight: 900;
  src:
    url('https://cdn.hugentobler.xyz/bm-black.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-black.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Berkeley Mono';
  font-style: italic;
  font-weight: 900;
  src:
    url('https://cdn.hugentobler.xyz/bm-black-oblique.woff2') format('woff2'),
    url('https://cdn.hugentobler.xyz/bm-black-oblique.otf') format('opentype');
}

/**
 * Univers font and fallback
 */

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.hugentobler.xyz/uni-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.hugentobler.xyz/uni-light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  src: url('https://cdn.hugentobler.xyz/uni-bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: normal;
  font-style: italic;
  font-weight: 600;
  src: url('https://cdn.hugentobler.xyz/uni-bold-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: expanded;
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.hugentobler.xyz/uni-extended-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.hugentobler.xyz/uni-condensed-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: condensed;
  font-style: oblique;
  font-weight: 400;
  src: url('https://cdn.hugentobler.xyz/uni-condensed-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.hugentobler.xyz/uni-condensed-light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 600;
  src: url('https://cdn.hugentobler.xyz/uni-condensed-bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: ultra-condensed;
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.hugentobler.xyz/uni-ultra-condensed.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: ultra-condensed;
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.hugentobler.xyz/uni-ultra-condensed-light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Univers';
  font-stretch: ultra-condensed;
  font-style: normal;
  font-weight: 200;
  src: url('https://cdn.hugentobler.xyz/uni-ultra-condensed-thin.woff2') format('woff2');
}
